<% @page_title = "Articles" %>

<% if current_admin %>
<p class="add_new"><%= link_to "+", new_article_path %></p>
<% end %>


<div class="article_top">
	<h1>Articles</h1>
</div>
<%= search_form_for @search do |f| %>

<div class="search">
	<a class="hide_search" href="#">✕</a>
	<div class="search_form">
	<%= f.text_field :author_cont, :class => "input-search", :placeholder => "Search Name" %>

	<%= f.submit "Search", :class => 'buttoner' %>
	</div>
</div>

<% end %>






<div class="article_wrap">
<% @article.each do |article| %>

<style>	
.article_box::before{
  content: '<%= article.created_at.strftime("%D") %>';
    position: absolute;
    display: block;
    margin-left: 20px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 0.6em;
    text-align: center;
    color: white;
    background-color: #D32F2F;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .article_top h1{
  font-size: 3em;
  line-height: 100px;
}

.add_new{
  top: 5%;
  left: 85%;
}

.article_top{
  height: 100px;
}

.search{
	height: 160px;
}
}

@media screen and (max-width: 580px) {
  

.search{
	display: none;
}

.article_wrap{
  margin-top: 50px;
}
}

</style>

<div class="article_box">
  <%= image_tag article.image.url(:large)%>
<h3 class ="title"><%= link_to article.title, article %></h3>
<p class="summary">	<%=h truncate(article.summary, :length => 30) %></p>

<p><% if current_admin %>
		<%= link_to "Edit", edit_article_path(article) %>

		<%= link_to "Destroy", article, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %></p>
	

</div>

<% end %>
</div>

