<div class="new_form">
	<h1>New Article</h1>

<%= form_for(@article, :html => { multipart: true }) do |f| %>
<br>
<p>
<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"} %>
</p>

<p>

<%= f.file_field :image, :placeholder => "Image" %>
</p>


<p>

<%= f.text_field :author, :placeholder => "Author" %>
</p>

<p>
<%= f.text_field :title, :placeholder => "Title"  %>
</p>

<br>
<br>

<p>
<%= f.text_area :source, :class => 'textarea_new', :placeholder => "Sources"  %>
</p>

<p>
<%= f.text_area :summary,  :class => 'textarea_new', :placeholder => "Summary" %>
</p>

<p>

<br>
<%= f.text_area :content, :class => "textarea_main", :placeholder => "Write your post here" %>
</p>


<p>
	<%= f.submit :class => "new_submit" %>
</p>

<% end %>

</div>