
<style>
  .head_show{
     height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(<%= @article.image.url(:large)%>);
  background-attachment: fixed;
  }
  .head_show::after {
  content: "";
  background-color: black;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 100; 
  width: 100%;
  height: 100%;  
}
</style>

<section class="bb">
  <div class="red"><%= link_to "Next >", @article.next %>

</div>

<div class="red"><%= link_to "< Previous", @article.prev %>
</div>
</section>


    <h2 class="blos"></h2>
    <div class="head_show">
    </div>
    
    <article class="area">
       <div class="headings">
           <span class="date"> <%= @article.created_at.strftime("%B %d %Y") %></span>
           <span class="source">Sources</span>
           <span class="name"><%= @article.author %></span>
       </div>
        <p><%= @article.content %>
        </p>
        
<div class="social">
<%= social_share_button_tag(@article.title) %>  
</div>        
     

        </article>
        
        
        <dialog id="dialog">
            <span class="modalClose">✕</span>
            <h4>Sources:</h4>
<p><%= @article.source%></p>
</dialog>




<div class="comments">

  <h2>Comments</h2>

<ol>
  <% @article.comments.each do |comment| %>
  <li>
    <div class="comment_display">
    <h4> <%= comment.name%> </h4>
    <p> <%= comment.body %> </p>
    </div>
  </li>
  <% end %>
</ol>



<%= form_for([@article, @article.comments.build ]) do |f| %>

<p> <%= f.text_field :name, placeholder: "Name" %> </p>

<p> <%= f.text_area :body, rows: 5, cols: 30, :placeholder => "Comment", :class => 'textarea'%> </p>

<p> <%= f.submit :class => "buttoner" %> </p>

<% end %>	

</div>

<script>
$(function(){
 var str = '<%= @article.title %>';
  var split = str.split("");

  var counter=0;
  setInterval(function(){
    $('.blos').append(split[counter]);
    counter++;
    if(counter==str.length){
      clearInterval
    }
  }, 150);

  setTimeout(function(){
    $('.blos').addClass('style_blos');
  }, 3000);
});
 

</script>