
<style>
  .head_show{
     height: 500px;
    background-size: cover;
    width: 100%;
    background-image: url(<%= @article.image.url(:large)%>);


  }
</style>

<section class="bb">
  <div class="red"><%= link_to "Next >", @article.next %>

</div>

<div class="red"><%= link_to "< Previous", @article.prev %>
</div>
</section>


    <h2 class="blos"><%= @article.title %></h2>
    <div class="head_show">
    </div>
    
    <article class="area">
       <div class="headings">
           <span class="date"> <%= @article.created_at.strftime("%B %d %Y") %></span>
           <span class="source">Sources</span>
           <span class="name"><%= @article.author %></span>
       </div>
        <p><%= @article.content %></p>
        
<div class="social">
<%= social_share_button_tag(@article.title) %>  
</div>        
     

        </article>
        
        
        <dialog id="dialog">
            <span class="modalClose">✕</span>
            <h4>Sources:</h4>
<p><%= @article.source%></p>
</dialog>




<div class="comments">

  <h2>Comments</h2>

<ol>
  <% @article.comments.each do |comment| %>
  <li>
    <div class="comment_display">
    <h4> <%= comment.name%> </h4>
    <p> <%= comment.body %> </p>
    </div>
  </li>
  <% end %>
</ol>



<%= form_for([@article, @article.comments.build ]) do |f| %>

<p> <%= f.text_field :name, placeholder: "Name" %> </p>

<p> <%= f.text_area :body, rows: 5, cols: 30, :placeholder => "Comment", :class => 'textarea'%> </p>

<p> <%= f.submit :class => "buttoner" %> </p>

<% end %>	

</div>

