<!DOCTYPE html>
<html>
<head>
  <title>Contrary | <%= @page_title || "Welcome" %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	 <div class="side">
		<p class= "button">☰</p>
        <p class ="side_icon"><%= link_to image_tag("home.png"), {:action => 'index', :controller => 'home'}%></p>
        <p class ="side_icon"><%= link_to image_tag("articles.png"), {:action => 'index', :controller => 'articles'}%>
        </p>
        <p class ="side_icon"><%= link_to image_tag("contact.png"), {:action => 'new', :controller => 'messages'}%></p>
        <p class ="side_icon"><%= link_to image_tag("about.png"), {:action => 'index', :controller => 'about'}%></p>
        <p class="copy">© Contrary.io| <span class="color"> Haaruun Dhubat</span></p>
		
    </div>
            
            
	
<div class="main">
<%= yield %>
</div>
  <div class="subnav">
  <% Category.all.each do |category| %>
            
                <p>
                <%=link_to category.name, articles_path(category: category.name) %>
                </p>
             
              <% end %>
               </div>
</body>
</html>
